body {
    margin: 0;
    font-family: sans-serif;
    background-color: darkgray;
}

main {
    width: 1000px;
    margin: 0 auto;
    padding: 10px 50px 10px 50px;
    color: white;
    background-color: rgb(121, 119, 131);
}

.picture-of-me {
    transition: box-shadow 0.3s ease;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.picture-of-me:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.picture-of-me:active {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

h2 {
    margin-bottom: 0;
}

p, ul, ol {
    margin-top: 0;
}



.job-title {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    color: black;
    background-color: #dddddd;
  }

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    background-color: rgb(121, 119, 131);
    color: white;
    border-top: 1px solid darkgray;
}

.footer-left {
    margin: 0;
}

.footer-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
}

.footer-button {
    margin: 0;
    padding: 5px 15px;
    background-color: #6c4280;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-button:hover {
    background-color: #362140;
}