body {
    width: 1000px;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: darkgray;
}

main {
    padding: 10px 50px 10px 50px;
    color: white;
    background-color: rgb(121, 119, 131);
}

.picture-of-me {
    transition: box-shadow 0.3s ease;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.picture-of-me:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.picture-of-me:active {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

h2 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

ul {
    margin-top: 0;
}

.job-title {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    color: black;
    background-color: #dddddd;
  }